<div class="section">
    <div class="container ">
        <div class="section-title" [ngStyle]='data?.sectionTitle?.styles'>{{data?.sectionTitle?.text}}</div>
        <div class="skills-container flex flex-wrap gap-6 justify-content-center">
            <div *ngFor="let item of skills; index as i;">
                <div class="skill-border">
                    <div class="skillRatig">
                        {{item?.rating}}%
                    </div>
                </div>
                <div class="skillName">{{item?.name}}</div>
            </div>

        </div>
    </div>
</div>